apiVersion: v1
data:
  # Base64 encoded id_rsa
  identity: < YOUR BASE64 ENCODED ID_RSA >
  # Base64 encoded id_rsa.pub
  identity.pub: < YOUR BASE64 ENCODED ID_RSA.PUB >
  # Base64 encoded github.com ssh identity, change to your git server if not using github
  known_hosts: Z2l0aHViLmNvbSBlY2RzYS1zaGEyLW5pc3RwMjU2IEFBQUFFMlZqWkhOaExYTm9ZVEl0Ym1semRIQXlOVFlBQUFBSWJtbHpkSEF5TlRZQUFBQkJCRW1LU0VOalFFZXpPbXhrWk15N29wS2d3RkI5bmt0NVlScllNak51RzVOODd1UmdnNkNMcmJvNXdBZFQveTZ2MG1LVjBVMncwV1oyWUIvKytUcG9ja2c9
kind: Secret
metadata:
  name: flux-system
  namespace: flux-system
type: Opaque